homie/flows.json
[
  {
    "id": "61d7a063.4eb37",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1900bb81.f17464",
    "type": "http request",
    "z": "61d7a063.4eb37",
    "name": "Flask v2",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.1.82:5000/",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 380,
    "y": 200,
    "wires": [["1a26148c.deb2fb", "a7e3a809.8d00d8"]]
  },
  {
    "id": "46daec7c.d4bcf4",
    "type": "inject",
    "z": "61d7a063.4eb37",
    "name": "Timer",
    "props": [{ "p": "payload" }],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 180,
    "wires": [["1900bb81.f17464"]]
  },
  {
    "id": "1a26148c.deb2fb",
    "type": "function",
    "z": "61d7a063.4eb37",
    "name": "parse to JSON",
    "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 540,
    "y": 200,
    "wires": [["ffa90a6.fc91bf8"]]
  },
  {
    "id": "ffa90a6.fc91bf8",
    "type": "ui_gauge",
    "z": "61d7a063.4eb37",
    "name": "Temperature",
    "group": "d922fb4b.1d7168",
    "order": 0,
    "width": "0",
    "height": "0",
    "gtype": "gage",
    "title": "",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "40",
    "colors": ["#0be8ee", "#44ff00", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 730,
    "y": 180,
    "wires": []
  },
  {
    "id": "a7e3a809.8d00d8",
    "type": "function",
    "z": "61d7a063.4eb37",
    "name": "parse to JSON",
    "func": "msg.payload = msg.payload.light;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 540,
    "y": 240,
    "wires": [["3b30f73f.837448"]]
  },
  {
    "id": "3b30f73f.837448",
    "type": "ui_gauge",
    "z": "61d7a063.4eb37",
    "name": "Light",
    "group": "ee413486.053d98",
    "order": 0,
    "width": "0",
    "height": "0",
    "gtype": "gage",
    "title": "",
    "label": "units",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#04ff00", "#8aff9d", "#ffffff"],
    "seg1": "",
    "seg2": "",
    "x": 710,
    "y": 240,
    "wires": []
  },
  {
    "id": "d922fb4b.1d7168",
    "type": "ui_group",
    "z": "",
    "name": "Temperature",
    "tab": "b10bb83f.bbe918",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ee413486.053d98",
    "type": "ui_group",
    "z": "",
    "name": "Light",
    "tab": "b10bb83f.bbe918",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "b10bb83f.bbe918",
    "type": "ui_tab",
    "z": "",
    "name": "Homie",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
